<%- include('partials/header'); %>
<h2 class="text-center mb-4"><%= title %></h2>
<div class="row justify-content-center">
    <div class="col-md-8">
        <% if (posts.length === 0) { %>
            <p class="text-center text-muted">No posts available</p>
        <% } else { %>
            <% posts.forEach(post => { %>
                <div class="card mb-4 shadow-sm">
                    <% if (post.image) { %>
                        <img src="<%= 'http://localhost:3000/'+post.image %>" class="card-img-top mt-2" alt="Post Image" style="width: 200px; height: 200px; object-fit: cover; display: block; margin: 0 auto;">
                    <% } %>
                        <div class="card-body">
                            <h5 class="card-title"><%= post.title %></h5>
                            <p class="card-text text-muted"><%= post.date %></p>
                            <p class="card-text"><%= post.text.substring(0, 50) %>...</p>
                            <a href="/blog/<%= post.id %>" class="btn btn-primary w-100">Read more</a>
                        </div>
                </div>
            <% }) %>
        <% } %>
    </div>
</div>
<%- include('partials/footer'); %>